name: Cloud Manager Code Quality Pipeline Execution

on: push

jobs:
  git-sync:
    name: Sync to Cloud Manager git repository
    runs-on: ubuntu-latest
    env:
      cm_git_url: ${{ secrets.CM_GIT_URL }}
      cm_git_username: ${{ secrets.CM_GIT_USERNAME }}
      cm_git_password: ${{ secrets.CM_GIT_PASSWORD }}
    steps:
      - name: Push GitHub branch to Cloud Manager git repository
        uses: wei/git-sync@v3
        with:
          source_repo: "adobe-basel/aem-project-template"
          source_branch: "refs/remotes/source/*"
          destination_repo: "https://${{ env.cm_git_username }}:${{ env.cm_git_password }}@${{ env.cm_git_url }}"
          destination_branch: "refs/heads/*"
  pipeline-execution:
    name: Execute Cloud Manager Code Quality Pipeline
    needs: git-sync
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Get or Create Cloud Manager Pipeline
        run: echo "Checking for existing Cloud Manager Pipeline for branch..."
      - name: Create Cloud Manager Pipeline Execution
        uses: adobe-basel/aio-cloudmanager-pipeline-action@v0.0.7
        env:
          AIO_CLI_ENV: prod
          LOG_LEVEL: debug
        with:
          BASEURL: ${{ secrets.CM_BASE_URL }}
          IMSCONFIG: ${{ secrets.AEM_CM_INTEGRATION }}
          PROGRAMID: ${{ secrets.AEM_CM_PROGRAM_ID }}
          PIPELINEID: 478904
#          CLIENTID: ${{ secrets.CM_CLIENT_ID }}
#          CLIENTSECRET: ${{ secrets.CM_CLIENT_SECRET }}
#          TECHNICALACCOUNTID: ${{ secrets.CM_TA_EMAIL }}
#          IMSORGID: ${{ secrets.CM_ORG_ID }}
#          KEY: ${{ secrets.CM_PRIVATE_KEY }}
#          PROGRAMID: ${{ secrets.CM_PROGRAM_ID }}
